.DS_Store
node_modules
*.log
.chunky.json
build
.chunky
.web
.carmel
.gitignore
\.vagrant
\.idea/
package-lock.json
.app
.assets
screenshots
.eosio
carmel.token.wasm
eosio.token.wasm
.webpack
yarn.lock
pnpm-lock.yaml
.nyc_output
coverage
.webpack
studio/out
*.private.keys
private/
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
.kubeconfig.yml
.deploy
cache_*
keys/
*.private.json
.vercel
.yarn
.env
dist
cache
artifacts
typechain
build
.cache
.openzeppelin
abi