.DS_Store
node_modules
*.log
.chunky.json
build
.chunky
.carmel
.gitignore
\.vagrant
\.idea/
.app
.assets
screenshots
.eosio
carmel.token.wasm
eosio.token.wasm
.webpack
.nyc_output
coverage
sdk/package-lock.json
.webpack
amplify/
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifyxc.config