<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">

  <link href="./style.css" rel="stylesheet">

  </style>
</head>
<body style="overflow: scroll;">
  <div class="container">
  <div class="text">
    <div class="text-inner">
      <img src="chunky.gif" width="200px">
      <h1> Your Carmel Product is now stopped. </h1>
      <h2> I hope you had fun. Go back to your Carmel Studio to restart it and continue the fun.</h2>
  	</div>
  </div>
  </div>
</body>
</html>
