@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    color-scheme: dark;
  }
  
  body {
    background-color: #0a1013;
    overflow-x: hidden;
  }
  
  @font-face {
    font-family: 'Taruno';
    src: url('/fonts/Taruno.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mona';
    src: url('/fonts/Mona.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Genesys';
    src: url('/fonts/Genesys.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Impasse';
    src: url('/fonts/Impasse.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Debodies';
    src: url('/fonts/Debodies.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Epilogue-Medium';
    src: url('/fonts/Epilogue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Epilogue-Bold';
    src: url('/fonts/Epilogue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  body,
  p,
  span,
  button,
  div,
  section {
    font-family: 'Epilogue', sans-serif;
    color: #EEEEEE;
  }

  pre {
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    border: 1px solid #00BCD4;
    margin-bottom: 1rem;
  }

  code {
    color: #B0BEC5;
  }
  
  a { 
    color: #03A9F4;
  }

  h1 {
    font-family: 'Mona';
    font-size: 60px;
    font-weight: 500;
    color: #fff;
  }
  
  h2 {
    font-family: 'Epilogue';
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #fff;
  }
  
  h3 {
    font-family: 'Epilogue';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  h4 {
    font-family: 'Epilogue';
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #fff;
  }
  
  h5 {
    font-family: 'Debodies';
    font-weight: 600;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
  }
  
  p,
  span {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  tr {
    font-weight: bold;
    font-size: 1.0rem;
  }

  td {
    font-size: small;
    color: #ffffff; 
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  table {
    margin-bottom: 2rem;
    border-top: #ffffff solid 1px;
  }

  thead {
    margin: 2rem;
  }

  strong {
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  .team-hex {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  