.rcw-conversation-container .rcw-header {
  background-color: #35cce6;
  border-radius: 10px 10px 0 0;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 5px 15px;
}
.rcw-conversation-container .rcw-header span {
  font-size: 14px;
}
.rcw-conversation-container .rcw-title {
  font-size: 24px;
  margin: 0;
  padding: 15px 0;
}
.rcw-conversation-container .rcw-close-button {
  display: none;
}
.rcw-conversation-container .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.rcw-full-screen .rcw-header {
  border-radius: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}
.rcw-full-screen .rcw-title {
  padding: 0 0 15px;
}
.rcw-full-screen .rcw-close-button {
  background-color: #35cce6;
  border: 0;
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
}
.rcw-full-screen .rcw-close {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 800px) {
  .rcw-conversation-container .rcw-header {
    border-radius: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
  }
  .rcw-conversation-container .rcw-title {
    padding: 5px 0 15px;
  }
  .rcw-conversation-container .rcw-close-button {
    background-color: #35cce6;
    border: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
  }
  .rcw-conversation-container .rcw-close {
    width: 20px;
    height: 20px;
  }
}
.rcw-messages-container {
  background-color: #fff;
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
  padding-top: 10px;
}
.rcw-full-screen .rcw-messages-container {
  height: 100%;
  max-height: none;
}
@media screen and (max-width: 800px) {
  .rcw-messages-container {
    height: 100%;
    max-height: none;
  }
}
.rcw-sender {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f7f9;
  height: 45px;
  padding: 5px;
  border-radius: 0 0 10px 10px;
}
.rcw-new-message {
  width: 100%;
  border: 0;
  background-color: #f4f7f9;
  height: 30px;
  padding-left: 15px;
}
.rcw-new-message:focus {
  outline: none;
}
.rcw-send {
  background: #f4f7f9;
  border: 0;
}
.rcw-send .rcw-send-icon {
  height: 25px;
}
@media screen and (max-width: 800px) {
  .rcw-sender {
    border-radius: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.rcw-conversation-container {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: c;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: c;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: c;
  animation-fill-mode: forwards;
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px #b5b5b5;
}
.rcw-slide-out {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: d;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: d;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: d;
  animation-fill-mode: forwards;
}
.rcw-full-screen .rcw-conversation-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
}
.rcw-launcher .rcw-badge {
  position: fixed;
  top: -10px;
  right: -5px;
  background-color: red;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}
.rcw-launcher {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: c;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: c;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: c;
  animation-fill-mode: forwards;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #35cce6;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px #b5b5b5;
  height: 60px;
  margin-top: 10px;
  width: 60px;
}
.rcw-launcher:focus {
  outline: none;
}
.rcw-open-launcher {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: b;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: b;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: b;
  animation-fill-mode: forwards;
}
.rcw-close-launcher {
  width: 20px;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: a;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: a;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: a;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 800px) {
  .rcw-launcher {
    bottom: 0;
    margin: 20px;
    position: fixed;
    right: 0;
  }
  .rcw-hide-sm {
    display: none;
  }
}
@keyframes a {
  0% {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes b {
  0% {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes c {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes d {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.rcw-widget-container {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  z-index: 1;
}
.rcw-opened {
  width: 90vw;
}
.rcw-full-screen {
  margin: 0;
  max-width: none;
  width: 100%;
}
.rcw-full-screen.rcw-opened {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .rcw-widget-container {
    margin: 0;
    max-width: none;
    width: 100%;
  }
  .rcw-widget-container.rcw-opened {
    height: 100%;
    padding-top: 56px;
  }
}
.rcw-message {
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
}
.rcw-client {
  background-color: #a3eaf7;
  margin-left: auto;
}
.rcw-client,
.rcw-response {
  border-radius: 10px;
  padding: 15px;
  max-width: 215px;
  text-align: left;
}
.rcw-response {
  background-color: #f4f7f9;
}
.rcw-message {
  font-size: 14px;
}
.rcw-message-text p {
  margin: 0;
}
.rcw-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.rcw-snippet {
  background-color: #f4f7f9;
  border-radius: 10px;
  padding: 15px;
  max-width: 215px;
  text-align: left;
}
.rcw-snippet-title {
  margin: 0;
}
.rcw-snippet-details {
  border-left: 2px solid #35e65d;
  margin-top: 5px;
  padding-left: 10px;
}
.rcw-link {
  font-size: 12px;
}
