<!DOCTYPE HTML>
<html>
	<head>
		<title>Carmel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<section id="main">
				<header>
					<span><img src="/images/carmel.png" alt="" /></span>
					<h1> Hey there </h1>
					<h2> Welcome to Carmel </h2>
				</header>
				<hr />
				<form method="post" action="#">
					<ul class="actions special">
						<li><a href="/auth/github" class="button">Sign in with GitHub</a></li>
					</ul>
				</form>
			</section>
			<footer></footer>
			</div>
			<script type="application/javascript" src="/app.js"></script>
	</body>
</html>